@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1: #201F22;
  --color2: #3A393E;
  --color3: #C1FD35;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@layer components {

  .primary-button {
    background: var(--color1);
    color: var(--color3);
    border: 1px solid #C1FD35;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .secondary-button {
    background: var(--color3);
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
}
